$text-color: #000;
$white: #fff;
$background-color: #ddd;
$header-background : #ddd;
$accent-color: red;
$max-width  : 1100px;




@function get-gutter($x : 1) {
    @return $x * 8px;
}


/*=========================
        General Styles
 ==========================*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.icon {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: $text-color;
}

body {
    font-size: 16px;

}


header {
    display: flex;
    padding: get-gutter(1);
    box-shadow: 1px 1px 2px rgba(black, 0.2);

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .org-info{
        margin: 0;
        padding: 0;
        margin-left: get-gutter(1);
        .org-name{
            font-size: 1.5em;
        }
        span{
            display: none;
        }
        .tagline{
            display: none;
        }
    }

    //.org-name {
    //    //display: none;
    //    font-size: 1.2em;
    //}
    //
    //.tagline {
    //    display: none;
    //}

}


/*=========================
        Main Nav
 ==========================*/
#main_nav_toggler{
    width: 35px;
    height: 35px;
    fill: $text-color;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: get-gutter(3);
    margin-top: get-gutter(2.5);
    z-index: 999;
    transition: transform 0.5s linear;

    &:hover {
        fill: $accent-color;
        cursor: pointer;
    }

    &.stricky {
        box-shadow: 1px 1px 2px black;
    }

    &.hidden {
        transform: translateY(-100%);
    }

    &.visible {
        transform: translateY(0);
    }
}

#main_sticky_nav{
    &.collapse{
        transform: translateX(0);
    }

    padding-top: get-gutter(6);
    background: $background-color;
    height: 100%;
    min-width: 300px;
    transform: translateX(300px);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;

    .sub-nav-toggler{
        //display: none;
        width: 18px;
        height: 18px;
        transform: rotate(90deg);
    }

    ul{
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        list-style: none;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        li{
            margin: get-gutter(1) 0;
        }

        .sub-nav-menu{
            font-size: 0.9em;
        }
    }
}






/*=========================
        Home Slider
 ==========================*/
.slider{
    height: 250px;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    background: grey;
}










/*=========================
        Section Strategies
 ==========================*/
.strategies-section{
    h2{
        font-size: 1.8em;
        text-align: center;
        margin: get-gutter(2) 0;
    }

    .strategies-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: $max-width;
        margin: 0 auto;
    }

    .strategy{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: get-gutter(2);
        margin: get-gutter(1);

        .heading{
            font-size: 1.2em;
            margin: get-gutter(0.5) 0;

        }




        &:hover, &:focus{
            box-shadow: 1px 1px 2px rgba(black,0.8);
            transform: scale(1.1);
            .detail{
                display: block;
            }
        }
    }
}


















/*=========================
        Media Queries
 ==========================*/
@media (min-width: 480px) {
    header{
        .org-info{

            .org-name{
                span{
                    display: inline-block;
                }
            }
            .tagline{
                display: block;
            }
        }
    }


    .slider{
        height: 300px;
    }


    .strategies-section .strategies-container{
        flex-direction: row;
        flex-wrap: wrap;

        .strategy{
            flex-basis: 40%;
        }

    }

}
@media (min-width: 720px) {

    .slider{
        height: 400px;
    }
    .strategies-section .strategies-container{

        .strategy{
            flex-basis: 25%;
        }

    }
}

@media (min-width: 1024px) {
    .strategies-section .strategies-container{

        .strategy{
            flex-basis: 20%;
        }

    }
}

